@charset "UTF-8";

html,body {height:100%;}


header{height:100px;  padding-top:150px;}

.contents{min-height:780px; }
#loginIdCheckBtn{font-size:15px;}
/* 회원가입 전체 박스 */
.sign-up-box{margin-top:180px;}
/* 로그인 박스 */
.loginBox{margin-top: 200px;}
.loginImg{margin-top:-30px;}
.LoginIcon{margin-right:150px; color:black; font-size:22px;}
.LoginIcon:hover{text-decoration: none;}
.createUserName{font-size:22px;}
.LogOutText{color:black; font-size:22px; margin-left:60px; }
.LogOutText:hover{text-decoration: none;}
.LoginNames{margin-right:80px; margin-top:10px;}

/* 타임라인 */
.textareaTimeline{border: none; height: 100px;}
.textareaBox{border:1px solid; padding:10px; }
.contents-box{width:450px; padding-top:100px;}
.commentInput{width:570px;}


/* 프로필 사진 및 팔로우 */
.profilePics{padding-top:10px; padding-left:100px; width:1000px; height:600px;}
.profileBox{    width: 100px; height: 100px;  border-radius: 70%; overflow: hidden;}
.profile{  width: 100%;  height: 100%; object-fit: cover;}
.headerFollowing{font-weight:lighter;}

